body{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.current{
    border-bottom: 1px solid white;
    color: #FFFFFF;
}

/*Navigaton*/

header nav a{
    color: #FFFFFF;
    text-decoration: none;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    background-color: #000000A6;
    position: fixed;
    z-index: 4;
}

.HomePod_title{
    color:#FFFFFF;
    position: absolute;
    left: 45%;
    bottom: 20px;
    font-size: 2em;
    text-transform: bold;
}

/*Header*/

header{
    background-color: #000000;
}

header a img.logo{
    width: 30px;
    height: auto;
    margin-top: 29px;
}

header .purchase{
    background-color: #0070C9;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav #nav_logo{
    display: flex;
    margin-left: 10vw;
}

header nav #nav_logo ul{
    display: flex;
    padding-top: 10px;
    list-style: none;
}

header nav #nav_logo ul li{
    margin: 10px;
    border-bottom: 1px solid #FFFFFF99;
}

header nav #nav_logo ul li a{
    color: rgba(255, 255, 255, 0.76);
}

/*Main*/
/*Presentation*/

main .presentation_homepod_purchase{
    background-color: #44484B;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

main .presentation_homepod_purchase .images_homepod{
    margin-left: 10vw;
    padding-top: 100px;
}

main .presentation_homepod_purchase .images_homepod img{
    height: 70vh;
}

main .presentation_homepod_purchase .purchase_infos{
    margin-top: 100px;
    margin-right: 10vw;
}

main .presentation_homepod_purchase .purchase_infos h2{
    color: #FFFFFF;
}

main .presentation_homepod_purchase .purchase_infos h2#first_h2{
    margin-top: 75px;
    text-align: center;
}

main .presentation_homepod_purchase .purchase_infos h2#scnd_h2{
    text-align: center;
}

main .presentation_homepod_purchase .purchase_infos p{
    color: #FFFFFFB3;
    text-align: center;
}

/*Selection color*/

main .presentation_homepod_purchase .selection_purchase{
    display: flex;
    justify-content: space-between;
}

main .presentation_homepod_purchase .selection_purchase .choose_color{
    width: 200px;
    height: auto;
    border: 1px solid #000000B3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

main .presentation_homepod_purchase .selection_purchase .choose_color img{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

main .presentation_homepod_purchase .selection_purchase .choose_color h2{
    margin: 10px;
}

main .presentation_homepod_purchase .selection_purchase .choose_color.isSelect{
    border: 2px solid #0070C9;
    box-shadow: 1px 1px 10px #0070C9;
}

.panier{
    background-color: #0070C9;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    margin-top: 15px;
    margin-left: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panier a{
    text-decoration: none;
    color: #FFFFFF;
}

.deco{
    overflow: hidden;
}

.deco img{
    height: 293px;
    width: 2000px;
    margin-left: -20px;
    margin-top: -100px;
    transform: rotate(8deg);
}

/*Slider*/

.slider{
    position : relative;
    width: 960px;
    height: 600px;
    overflow: hidden;
    padding-top: 50px;
    margin: 0 auto;
    margin-top: -250px;
}

.sliderContainer{
    position: absolute;
    display: flex;
    transition: ease-in 0.5s all;
    will-change: left;
}

.sliderContainer img{
    width: auto;
    height: 600px;
}

.previous{
    position: absolute;
    top: 50%;
    left : 20px;
    transform: rotate(180deg);
}

.previous img{
    width: 30px;
}

.next{
    position: absolute;
    top: 50%;
    right: 20px;
}

.next img{
    width: 30px;
}

/*Decription HomePod*/

.description_homepod h2#technics{
    text-align: center;
}

.description_homepod h2#technics{
    font-size: 3em;
    text-decoration: underline;
}

.technical_aspect{
    display: flex;
}

.technical_aspect .technical_aspect_images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
}

.technical_aspect .technical_aspect_images img{
    height: 300px;
    width: 247px;
}

.technical_aspect .left_right_techs{
    display: flex;
}

.technical_aspect .left_techs{
    margin-left: 10vw;
    width: 20vw;
    margin-bottom: 20px;
}

.technical_aspect .left_techs ul{
    list-style: none;
    padding: 0;
}

.technical_aspect .left_techs ul li{
    margin-top: 10px;
}

.technical_aspect .right_techs{
    margin-right: 10vw;
    margin-left: 10vw;
    width: 20vw;
}

.technical_aspect .right_techs ul{
    list-style: none;
    padding: 0;
}

.technical_aspect .right_techs ul li{
    margin-top: 10px;
    line-height: 1.4em;
}

.technical_aspect .right_techs p{
    line-height: 1.4em;
}

/*Slider HomeKit*/

.slider_homekit{
    position : relative;
    width: 960px;
    height: 600px;
    overflow: hidden;
    padding-top: 50px;
    margin: 0 auto;
}

.slider_homekit h2{
    text-align: center;
    font-size: 2em;
}

.sliderContainer_homekit{
    position: absolute;
    display: flex;
    transition: ease-in 0.5s all;
    will-change: left;
}

.sliderContainer_homekit img{
    height: 400px;
}

.previousHomeKit{
    position: absolute;
    top: 50%;
    left : 20px;
    transform: rotate(180deg);
}

.previousHomeKit img{
    width: 30px;
}

.nextHomeKit{
    position: absolute;
    top: 50%;
    right: 20px;
}

.nextHomeKit img{
    width: 30px;
}

/*Footer*/

footer{
    background-color: #44484B33;
}

footer .icoFooter{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}

footer .icoFooter img{
    width: 100px;
    height: 100px;
    margin: 44px;
}

footer .contentTitleFooter{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -20px;
}

footer .contentTitleFooter #delivery_appleStore{
    margin-left: 40px;
}

footer .contentFooter{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

footer .moreAbout{
    display: flex;
    justify-content: space-around;
    margin-right: 10vw;
    margin-left: 10vw;
}

footer .moreAbout a{
    color: #4295EF;
    text-decoration: none;
}

/*Footer links*/

footer .about{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

footer .about ul{
    list-style: none;
    padding: 0;
    line-height: 1.7em;
}

footer .about a{
    color: #00000099;
    text-decoration: none;
}

footer .about a:hover{
    text-decoration: underline;
}

footer .bottom_footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    border-top: 1px solid #44484B80;
}

footer .bottom_footer ul li a{
    text-decoration: none;
    color: #00000099;
    font-size: 0.7em;
}

footer .bottom_footer ul li a:hover{
    text-decoration: underline;
}

footer .bottom_footer ul li{
    padding: 20px;
}