body{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.current{
    border-bottom: 1px solid white;
}

/*Navigaton*/

header nav a{
    color: #FFFFFF;
    text-decoration: none;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    background-color: #000000A6;
    position: fixed;
    z-index: 4;
}

.HomePod_title{
    color:#FFFFFF;
    position: absolute;
    left: 45%;
    bottom: 20px;
    font-size: 2em;
    text-transform: bold;
}

/*Header*/

header{
    background-color: #000000;
}

header a img.logo{
    width: 30px;
    height: auto;
    margin-top: 29px;
}

header .purchase{
    background-color: #0070C9;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav #nav_logo{
    display: flex;
    margin-left: 10vw;
}

header nav #nav_logo ul{
    display: flex;
    padding-top: 10px;
    list-style: none;
}

header nav #nav_logo ul li{
    margin: 10px;
    border-bottom: 1px solid #FFFFFF99;
}

header nav #nav_logo ul li a{
    color: rgba(255, 255, 255, 0.76);
}

/*Main HomePod Presentation*/

main .firstContent{
    background-color: #000000;
    height: 80vh;
}

main .homePage_start{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

main .homePage_start h2{
    font-size: 200%;
    text-transform: bold;
    margin-left: 10vw;
    border-bottom: thin solid #FFFFFF;
    width: 150px;
}

main .homePage_start p{
    margin-top: 50px;
    margin-left: 10vw;
    font-size: 150%;
    width: 25vw;
    line-height: 1.3em;
}

main .homePage_start #firstimg{
    width: 28vw;
    height: auto;
}

main .homePage_start #secondimg{
    width: 28vw;
    height: auto;
    margin-right: 10vw;
}

/*Main second part*/

main .scndContent{
    background-color: #44484B;
    height: 110vh;
}

main .homePod_citation{
    display: flex;
    align-items: center;
}

main .homePod_citation img{
    width: 60vw;
    margin-left: 10vw;
}

main .homePod_citation p{
    color: #FFFFFF;
    margin-right: 10vw;
    font-size: 200%;
    margin-left: 20px;
}

/*Slider HomePod Cut*/

.slider{
    position : relative;
    width: 960px;
    margin:0 auto;
    height: 70vh;
    overflow: hidden;
}

.slider .navigation .previous{
    position: absolute;
    top: 50%;
    left: 30px
}

.slider .navigation .next{
    position: absolute;
    top: 50%;
    right : 30px;
}

.slider .navigation .next img{
    width: 30px;
}

.slider .navigation .previous img{
    width: 30px;
    transform: rotate(180deg);
}

.sliderContainer{
    position : absolute;
    display: flex;
    transition: ease-in 0.5s all;
    will-change: left;
}

.sliderContainer .contentSlider{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.sliderContainer .contentSlider .textSlider{
    width: 300px;
}

.sliderContainer .contentSlider .textSlider h2{
    font-size:1.8em;
}

.sliderContainer .contentSlider .textSlider h2.slider_h2_right{
    font-size:1.8em;
    text-align: right;
}

.sliderContainer .contentSlider .textSlider p.slider_p_left{
    font-size: 1em;
    line-height: 1.3em;
    text-align: left;
}

.sliderContainer .contentSlider .textSlider p.slider_p_right{
    font-size: 1em;
    line-height: 1.3em;
    text-align: right;
}

.sliderContainer .contentSlider img{
    height: 450px;
    margin-top: 50px;
}

/*Third Part*/

main .thirdContent{
    background-color: #44484B;
}

main .thirdContent div.homePodBlackPresentation{
    margin-left: 10vw;
    display: flex;
    align-items: center;
}



main .thirdContent img{
    width: 50vw;
    margin-top: 30px;
} 

main .thirdContent h2{
    color: white;
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 2.2em;
}

/*Video*/

main .video{
    position: relative;
    display: flex;
    justify-content: center;
}

main .video img{
    width: 90vw;
    height: 100vh;
    margin-top: 50px;
}

main .video h2{
    position: absolute;
    bottom: 200px;
    font-size: 3em;
    color: #FFFFFF;
}

main .video a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
}

main .video a:hover{
    text-decoration: underline;
    color: #4295EF;
}

main .video .buttonPlay{
    position: absolute;
    bottom: 180px;
}

main .video img#play{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

main .video video{
    visibility: hidden;
    height: 0px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/*4th part*/

main .fourthContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .fourthContent h1{
    font-size: 4em;
}

main .fourthContent p{
    margin-left: 25vw;
    margin-right: 25vw;
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: center;
}

main .fourthContent img{
    width: 40vw;
    margin-top: -20px;
}

main .fourthContent h2{
    color: #A8278C;
    font-size: 3em;
}

main .fourthContent h3{
    font-size: 1.5em;
}

/*Footer*/

footer{
    background-color: #44484B33;
}

footer .icoFooter{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}

footer .icoFooter img{
    width: 100px;
    height: 100px;
    margin: 44px;
}

footer .contentTitleFooter{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -20px;
}

footer .contentTitleFooter #delivery_appleStore{
    margin-left: 40px;
}

footer .contentFooter{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

footer .moreAbout{
    display: flex;
    justify-content: space-around;
    margin-right: 10vw;
    margin-left: 10vw;
}

footer .moreAbout a{
    color: #4295EF;
    text-decoration: none;
}

/*Footer links*/

footer .about{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

footer .about ul{
    list-style: none;
    padding: 0;
    line-height: 1.7em;
}

footer .about a{
    color: #00000099;
    text-decoration: none;
}

footer .about a:hover{
    text-decoration: underline;
}

footer .bottom_footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    border-top: 1px solid #44484B80;
}

footer .bottom_footer ul li a{
    text-decoration: none;
    color: #00000099;
    font-size: 0.7em;
}

footer .bottom_footer ul li a:hover{
    text-decoration: underline;
}

footer .bottom_footer ul li{
    padding: 20px;
}

/*Responsive*/
